* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 15px Helvetica, Arial;
}
#canvas_container {
  width: 100%;
  text-align:center;

  border-style: dotted;
  border-width: 2px;
  border-color: black;

  position: -webkit-sticky;
  position: sticky;

  left:50%;
  top: 25px;
}

canvas {
  -webkit-align-content: center;
  align-content: center;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;

  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 20px;
}
form {
  background: #2e2e2e;
  color: #d4d4d4;
  position: fixed;
  padding: 10px 20px;
  font-size: larger;
  bottom: 0;
  width: 100%;
}
form input {
  border: 0;
  background: transparent;
  color: #d4d4d4;
  outline-width: 0;
  padding: 10px 20px;
  font-size: larger;
  width: 90%;
}
header p {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  font-style: italic;
  margin: 1em;
  color: #7a7a7a;
}
#messages {
  color: #2e2e2e;
  list-style-type: none;
  margin: 0 0 3em;
  padding: 0;
}
#messages li {
  padding: 5px 20px;
}
#messages li:nth-child(odd) {
  background: #d4d4d4;
}
